@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary-black: #333;
  --primary-offwhite: #f6f5ef;
  --primary-grey: #ddd;
  --primary-grey-dark: #555;
  --color-white: #fffefa;
  --color-blue: #81b7ff;
  --color-blue-dark: #4482cc;
  --background-color: #f0f2f5;
  --color-success: #9acd32;
  --color-error: #FF6961;

}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Reddit Sans', sans-serif;
  background-color: var(--background-color);  
  margin: 0;  
  box-sizing: border-box;
  min-height: 100vh;
}

.btn-primary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  color: var(--color-white);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--color-blue-dark);
  border-color: var(--color-blue-dark);
  color: var(--color-white);
}