.SideNavbar {
  width: 240px;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.SideNavbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-black);
  color: var(--color-white);
}

.SideNavbar-title {
  font-size: 2rem;
  font-weight: bold;
  padding: 2px;
}

.SideNavbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.SideNavbar-item {
  margin: 0;
}

.SideNavbar-link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--primary-black);
  transition: background-color 0.3s ease;
}

.SideNavbar-link:hover {
  background-color: var(--primary-grey);
}

.SideNavbar-link.active {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}

.SideNavbar-icon {
  font-size: 20px;
  margin-right: 10px;
}

.login-status-chip {
  margin-top: auto;
  margin-bottom: 45px; 
}

@media (max-width: 768px) {
  .SideNavbar {
    width: 60px;
  }

  .SideNavbar-title,
  .SideNavbar-link span {
    display: none;
  }

  .SideNavbar-icon {
    margin-right: 0;
  }
}
